
        body{
          margin: 0;
        }
        #local{
          width: 100px;
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
        #subp{
          color: #B4232F;
          margin-top: 0px;
        }
        h1{
          font-size: 45px;
          margin-bottom: 7px;
        }
        h2{
          font-size: 40px;
        }
        main h3{
          font-size: 35px;
          margin-top: 10px;
        }
        footer h3{
          font-size: 35px;
        }
        p{
          font-size: 30px;
        }
        #subh{
          margin-top: 0%;
          padding-top: 0%;
          color: #333;
        }
        .textfooter{
          text-align: center;
        }
        .containerheader{
          background-color: #002060;
          position: relative;
          height: 125px;
        }
        .hehe {
          display:none;
        }
        nav ul{
          list-style: none;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          margin: 20px;
          padding: 5px;
        }
        nav a {
          text-decoration: none;
          color: black;
          font-size: 28px;

        }
        .logoimg {
          width: 175px;
          padding: 30px;
        }
        .butonimg{
          width: 70px;
          position:absolute;
          right: 15px;
          top: 35px;
        }
        img{
          width:100%;
        }
        .containermain{
          text-align: center;
          display:flex;
          flex-direction: column;
          align-items: center;
        }
        .jobs{
          display:flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;
        }
        .jobcards{
          box-shadow: 0px 0px 12px 4px #bbb;
          width: 95%;
          border-radius: 10px;
        }
        .jobimg{
          width: 95%;
          margin-top: 20px;
        }
        .containerquestions{
          margin-bottom: 50px;
          width: 90%;
        }
        #linhacardandquestions{
          width: 75%;
          margin-top: 40px;
          margin-bottom: 10px;
        }
        .questions {
          display: flex;
          flex-flow: column;
          align-items: center;
          gap:15px;
          font-weight: bold;
          font-size: 30px;
        }
        .quest{
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0px 0px 12px 1px #aaa;
          width: 90%;
          height: 110px;
        }
        .conte{
          display:none;
          width: 70%;
        }
        .iframemap{
          width:75%; 
          height:450;
          border:0; 
          allowfullscreen:; 
          loading:lazy; 
          referrerpolicy:no-referrer-when-downgrade;
        }
        footer{
          background-color:#B4232F;
        }
        .contmap{
          display: flex;
          flex-flow: column;
          align-items: center;
        }
        .contcontatos{
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: space-around;
        }
        .textfooter{
          display:flex;
          justify-content: center;
        }
        h3#LocalR{
          color:white;
        }
        hr{
          display: block;
          width: 85%;
          background-color: black;
          padding:0px;
          margin: 0px;
        }
        main hr {
          display: block;
          width: 75%;
          background-color: black;
          padding: 0px;
          margin: 10px ;
        }/* icones whatsapp e instagram fixados รก tela individualemnte 
        .instaicon{
          width: 50px;
          position: fixed;
          bottom: 35px;
          right:115px
        }
        .whaticon{
          width: 80px;
          position: fixed;
          bottom: 20px;
          right:20px
        }
        */
        .redes {
          position: fixed;
          bottom: 90px;
          right: 40px;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          gap: 20px;
        }
        #circulo1{
          width: 90px;
          right: 130px;
          position: absolute;
        }
        #circulo2{
          width: 125px;
          right: ;
          position: absolute;
        }
        #copyright{
          font-size: 25px;
        }
       